{% extends "main/base.html" %}

{% block title %}Index{% endblock title %}

{% block content %}

    {% for webtoon in webtoon_list %}
        <li>TITLE: {{ webtoon.title }} | SITE: {{ webtoon.site }} | URL: {{ webtoon.url }} | AVAILABLE: {{ webtoon.available_ch }} | FINISHED: {{ webtoon.finished_ch }}
            | <a href="{% url 'main:updateWebtoon' webtoon.id %}">Update</a>
            | <a href="{% url 'main:deleteWebtoon' webtoon.id %}">Delete</a>
        </li>
    {% endfor %}

    <a href="{% url 'main:scrape' %}">scrape</a>
    <a href="{% url 'main:addWebtoon' %}">Add Webtoon</a>

{% endblock content %}